body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 10px;
}

/* 
Première grid pour le layout "général"
*/
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  /* Une ligne de 60px pour la navbar, la deuxième ligne prendra tout l'espace disponible */
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: space-evenly;
  gap: 20px;
}

.item {
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
}

.item img {
  height: 200px;
  width: 50%;
  object-fit: cover;
}

.item div.item-content {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item div.item-content p {
  font-style: italic;
}

header nav {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 5%;

  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
header nav a {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

header nav a:hover {
  color: tomato;
}

/* Début des media queries pour gérer les tailles d'écran */
/* Attention à l'ordre des queries pour gérer les conflits entre règles */

/* Écran de plus de 1600px */
@media screen and (min-width: 1600px) {
  .item {
    max-width: none;
  }
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Écran de plus de moins de 1200px */
@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Écran de plus de moins de 800px */
@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2, 250px);
  }
}

/* Écran de plus de moins de 600px */
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: none;
  }

  .item img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
