.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 10px;
  /* On répéte autant de colonnes que possible entre 250px et 1fr */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.grid div {
  height: 100%;
  width: 100%;
  background-color: blue;
}

.grid .big-item {
  background-color: red;
  /* On prend 2 colonnes, indépendamment de la position de l'enfant */
  grid-column: span 3/ auto;

  /* On prend 2 lignes, indépendamment de la position de l'enfant */
  grid-row: 1/3;
}
